<form method="POST">
  <div class="mt-4">
    <label for="search-input">Từ khóa</label>
    <input type="text" class="form-control" id="search-input" aria-describedby="searchHelp" placeholder="Nhập từ khóa">
    <small id="searchHelp" class="form-text text-muted">Nhập từ khóa để tìm kiếm.</small>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>